@charset "utf-8";
html{
    background: url(../images/bg1.jpg);   
}
/* CSS STARt */
.m-wrapouter{
    min-width: 1000px; min-height: 100%;  position: relative;
}
.m-plateauto{ min-width: 1000px; margin:0 auto; height: 100%; }
/* HEADER CSS */
.m-header{
    height:50px; background: #337ab7; color: #cecece; 
    position: absolute; top: 0; width:100%;
    box-shadow: 0 0 10px 0 #9c9c9c;
    text-align: center;
}
    .m-header .m-plateauto{ width: 98%; }
    .m-header .logo{ height: 34px; overflow: hidden; margin-top:8px;
        position: absolute; left: 1%;
    }
    .m-header .logo .txt{
        width: 34px; display: block; background: #f60; border-radius: 4px;
        font-family: Georgia; color: #fff; float: left;
        font-size: 24px; text-align: center; line-height: 34px; font-weight: 700;
    } 
    .m-header .logo .name{
        color: #e4e4e4; float: left; font-size: 14px; font-family: Verdana; padding: 0 12px;
    } 
    .m-header .mainnav{ display: inline-block; }
    .m-header .mainnav li{ 
        float: left; height:100%; position: relative;
    }
    .m-header .mainnav li a{
        color:#eaeaea; line-height:50px; padding:0 15px; font-size:14px;
    }
    .m-header .mainnav li span{
        position: absolute; width:100%; height:3px; background:#f60;
        left:0; bottom:0; display: none;
    }
    .m-header .mainnav .active span{ display: block; }
    .m-header .mainnav li:hover a,
    .m-header .mainnav .active a{ color:#f60; }

/* M footer */
.m-footer{ 
    position:absolute; bottom:0;
    height:50px; line-height: 50px; width: 100%; color:#585858; 
    font-size: 13px; text-align: center;
}
 
/* M main cont */
.m-maincont{
    padding: 50px 0;
}



/* M demo list */
.m-demowrap .m-demolist{
    width: 920px; 
    margin: 0 auto; 
}
.m-demolist .title{ padding-top: 50px; font-size: 32px; text-align: center;
    font-family: Microsoft JhengHei,Microsoft YaHei,STHeiti SC,SimHei;
    color: #757a82;
}
.m-demolist .des{ font-size: 24px; color: #c3c3c3; text-align: center;
    font-family: Microsoft JhengHei,Microsoft YaHei,STHeiti SC,SimHei;
    margin-top: -5px;
}

/* exp */
.m-expwrap{
    padding-bottom: 20px;
    padding-top: 30px;
}
.m-expwrap .items{
    border-bottom: 1px dashed #999;
    padding-bottom: 20px;
    margin-top: 20px;
    overflow: auto;
}
.m-expwrap .items h3{
    height: 30px; line-height: 30px;
    font-size: 18px; font-weight: 700;
}
.m-expwrap .items h3 span{
    font-weight: 400; color: #999;
    font-size: 14px;
    vertical-align: top;
    padding-left: 8px;
}
.m-expwrap .items .exp-des{
    color: #5f5f5f;
    line-height: 1.5;
    /* padding-top: 8px; */
    overflow: hidden;
}
.m-expwrap .items .exp-des p{
    margin-top: 6px;
    padding-bottom: 5px;
}
.m-expwrap .link{
    padding-top: 5px;
}
.m-expwrap .link a{
    display: inline-block; 
    color: #1d72f0; margin-right: 10px; 
}
.m-expwrap .link a:hover{
    text-decoration: underline;
}
.m-expwrap .items .exp-pic{
    float: right;
    margin-left: 50px;
    width: 300px;
    padding: 6px 0;
}
.m-expwrap .items .exp-pic img{
    width: 100%;
}

/* tag */
.m-expwrap .tag{
    margin-top: 4px; overflow: hidden;
}
.m-expwrap .tag span{
    float: left;
    height: 24px; line-height: 24px;
    border-radius: 3px;
    background: #777;
    padding: 0 6px;
    color: #fff; margin-right: 5px;
}
.m-expwrap .tag .bg1{ background: #337ab7; }
.m-expwrap .tag .bg2{ background: #5cb85c; }
.m-expwrap .tag .bg3{ background: #5bc0de; }
.m-expwrap .tag .bg4{ background: #f0ad4e; }
.m-expwrap .tag .bg5{ background: #d9534f; }
.m-expwrap .tag .bg6{ background: #996699; }
.m-expwrap .tag .bg7{ background: #cccc99; }
.m-expwrap .tag .bg8{ background: #9966cc; }
.m-expwrap .tag .bg9{ background: #666633; }
.m-expwrap .tag .bg10{ background: #036; }

















