
html{ font-size: 100px; background:#ecf2f8; }
html, body{ width: 100%; height: 100%; overflow-x: hidden; }
a, a:hover{ color: #1258a8; }
.icon-bar{ background: url(../icon/bar.png) no-repeat; background-size: 6rem 1rem; }
/* 布局 */
.g-mainwrap{
    width: 7.5rem; height: 100%;
    margin: 0 auto; 
    overflow: auto;
    box-sizing: border-box;
    position: relative;
}
.g-main-container{  
    /* position: absolute; top: 0.81rem; bottom: 0.81rem; */
    padding: 0.81rem 0;
    background: #f00;
    /* 使之可以滚动 */
    overflow-y: scroll;
    /* 增加该属性，可以增加弹性 */
    -webkit-overflow-scrolling: touch; 
}

/* Top Bar */
.g-topbar{
    position: fixed; top: 0;  z-index: 10;
    width: 100%; height:0.8rem;
    display: flex; justify-content: space-between; align-items: center; 
    background: #285894;
    padding: 0 0.83rem; 
    border-bottom: 1px solid #cfd3d7;
}
    .g-topbar .bar span{ display: block; }
    .g-topbar .icon-topbar01{
        width: 0.44rem; height: 0.44rem;
        background-position: -2.25rem 0;
    }
    .g-topbar .icon-topbar02{
        width: 0.49rem; height: 0.45rem;
        background-position: -3.15rem 0;
    }
    .g-topbar .icon-topbar03{
        width: 0.53rem; height: 0.34rem;
        background-position: -4.05rem 0;
    }
    .g-topbar .icon-topbar04{
        width: 0.46rem; height: 0.45rem;
        background-position: -4.95rem 0;
    }
    .g-topbar .active .icon-topbar01{ background-position: -2.25rem -0.45rem; }
    .g-topbar .active .icon-topbar02{ background-position: -3.15rem -0.45rem; }
    .g-topbar .active .icon-topbar03{ background-position: -4.05rem -0.45rem; }
    .g-topbar .active .icon-topbar04{ background-position: -4.95rem -0.45rem; }

/* Botton Bar */
.g-bootombar{
    position: fixed; bottom: 0; z-index: 10;
    width: 100%; height: 0.72rem; 
    display: flex; justify-content: space-around;
    padding-top: 0.08rem;
    background: #fff; border-top:1px solid #e3e3e3; 
} 
    .g-bootombar .bar{  
        float: left; height: 100%;
        text-align: center; font-size: 0.18rem; color: #767676;
    }
    .g-bootombar .bar span{ display: block; width: 0.45rem; height: 0.45rem; }
    .g-bootombar .bar .text{ line-height: normal; } 
    .icon-bombar01{ background-position: 0 0; }
    .icon-bombar02{ background-position: -0.45rem 0; }
    .icon-bombar03{ background-position: -0.9rem 0; }
    .icon-bombar04{ background-position: -1.35rem 0; }
    .icon-bombar05{ background-position: -1.8rem 0; }
    /* cur */
    .g-bootombar .cur{ color: #589ee4; }
    .g-bootombar .cur .icon-bombar01{ background-position: 0 -0.45rem; }
    .g-bootombar .cur .icon-bombar02{ background-position: -0.45rem -0.45rem; }
    .g-bootombar .cur .icon-bombar03{ background-position: -0.9rem -0.45rem; }
    .g-bootombar .cur .icon-bombar04{ background-position: -1.35rem -0.45rem; }
    .g-bootombar .cur .icon-bombar05{ background-position: -1.8rem -0.45rem; }

/* 数据中心 */ 

/* M search */
.m-topsearch{
    display: flex;
    justify-content: space-between; /* 两端对齐 */
    align-items: center; /* 垂直居中 */
    height: 0.56rem;
    padding: 0.13rem 0.18rem;
    border-bottom: 1px solid #e6ebf0;
}
.m-topsearch .u-search{ 
    width: 93.3%;
}
.m-topsearch .icon-setting{ 
    width: 0.37rem; height: 0.37rem;
    background: url(../icon/icon-setting.png) no-repeat;
    background-size: 100%;
}

/* U search */
.u-search{
    position: relative;
    height: 0.54rem;
    background: #fff;
    border: 1px solid #d2d5d8;
    border-radius: 0.05rem;
}
.u-search input{
    width: 100%;
    height: 100%;
    border: 0; 
    background: transparent;
    padding: 0.1rem 0.1rem 0.1rem 0.58rem;
    box-sizing: border-box;
}
.u-search .icon-search{ 
    position: absolute; left: 0.17rem; top: 0.15rem;
    width: 0.26rem;
    height: 0.25rem;
    background: url(../icon/icon-search.png) no-repeat;
    background-size: 100%;
}

/* M public box */
.m-publicbox,
.m-defplate-wrap{
    position: relative;
    background: #fff;
    border-top:1px solid #d7d8d9;
    border-bottom: 1px solid #e2e7ec; 
    margin-top: 0.14rem;
}
.m-publicbox .line{
    position: absolute; bottom:0; left: 0; right: 0;
    height: 1px; overflow:hidden; background: #bcbcbc;
}

/* M default box */
.m-defplate-wrap{
    border-bottom-color: #d7d8d9;
    padding: 0.18rem;
}

/* U default title */
.u-deftitle{
    height: 0.42rem; 
    padding-bottom: 0.14rem;
    border-bottom: 1px solid #dadce1;
}
.u-deftitle .title{
    font-size: 0.29rem;
}
.u-deftitle .friends-num{
    height: 100%;
    color: #9197a3;
    font-size: 0.217rem; 
    display: flex;
    align-items: center;
}
.u-deftitle .friends-num::before{
    content: ''; float: left;
    width: 0.04rem; height: 0.04rem;
    border-radius: 50%;
    background: #9197a3;
    margin: 0 0.05rem;
}


.u-deftitle .move{
    height: 100%;
    display: flex; 
    align-items: center; /* 子项垂直居中 */
}
.u-deftitle .move em{
    display: block;
    width: 0.16rem; height: 0.24rem;
    background: url(../icon/icon-move.png) no-repeat;
    background-size: 100%;
}

/* M release */
.m-release-wrap :first-child{
    margin-top: 0!important;  
    border-color: #ecedef!important; 
} 
/* U opteration bar */
.u-operbar{ 
    height: 0.38rem;  
    padding: 0.1rem 0.22rem;
    font-size: 0.25rem; 
}

.u-operbar .u-range{
    float: left;
}
/* U range */
.u-range{ position: relative; height: 100%; }
.u-range .text{

}
.u-range .text::after{
    content: '';
    display: inline-block; 
    width:0; height:0;
    float: right; margin: 0.15rem 0 0 0.15rem;
    border: 0.1rem solid transparent;
    border-bottom: 0;
    border-top-color: #767676;
}
.u-range .range-list{
    display: none;
    position: absolute; top: 0.46rem; z-index: 10;
    width: 1.4rem; padding: 0.05rem 0; 
    background: #fff;
    border:1px solid #ccced0;
    font-size: 0.12rem;   
}
.u-range .range-list span{
    display: block; 
    height: 0.4rem; 
    line-height: 0.4rem; 
    text-align: center; 
}
.u-range .range-list .active{
    color: #fff; 
    background: #1258a8;
}

/* U release */
.u-release{ 
    padding: 0.18rem;
    min-height: 0.74rem;
}
.u-release .user-pic{
    float: left;
    display: block;
    width: 0.74rem; height: 0.74rem; overflow: hidden;
}
.u-release .user-pic img{ max-width: 100%; }
.u-release .rel-container{ 
    float: right;
    width: 87.25%;
    box-sizing: border-box;
    border: 1px solid #eee;
    border-radius: 0.03rem;
    height: 0.74rem;
}
.u-release .rel-default{ 
    display:block;
    text-indent: 0.17rem; line-height: 0.74rem;
    color: #767676; font-size: 0.25rem;
}

/* M maybe people */
.m-maybepeople{
    padding: 0.12rem 0.18rem 0.18rem;
}
.m-maybepeople .title{
    height: 0.36rem; margin-bottom: 0.1rem;position: relative;
}
.m-maybepeople .title .t{
    float: left; font-size: 0.25rem; font-weight: 700;
}
.m-maybepeople .u-icon-dropdown{
    float: right;  
    margin-top: 0.05rem;
}
.m-maybepeople .u-firendlist{
    height: 2.66rem;
    padding: 0.18rem;
    border:1px solid #ccc;
    border-radius: 0.03rem;
}

.u-icon-dropdown{ 
    display: block; width: 0.17rem; height: 0.11rem;
    background: url(../icon/icon-dropdown.png) no-repeat;
    background-size: 100%; 
}
/* U firendlist */
.u-firendlist li{
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 1.6rem; height: 2.66rem;
    border: 1px solid #f0f0f0;
    border-radius: 0.02rem;
    margin-right: 0.13rem;
    font-size: 0.12rem;
    padding-top: 1.59rem;
}
.u-firendlist li .user-pic{
    position: absolute; left: -1px; top: -1px;
    width: 1.6rem; height: 1.6rem; display: block;
}
.u-firendlist li .user-pic img{
    width: 100%;
}
.u-firendlist li .user-name{
    margin-top: 0.05rem;
    height: 0.33rem; line-height:0.33rem;
    width: 94%;
    padding: 0 3%;
    text-align: center;
    font-size: 0.235rem;font-weight: 700; 
}
.u-firendlist li .user-name a{
    color: #3a3a3a;
}
.u-firendlist li .across-num{
    width: 96%; padding:0 2%;
    height: 0.32rem; line-height:0.32rem;
    font-size: 0.217rem; color: #767676;
    text-align: center; 
}
.u-firendlist li .btn{
    padding: 0 0.05rem;
    height: 0.31rem; line-height:0.31rem;
    font-size: 0.21rem; color: #1258a8;
    cursor: pointer;
}
.u-firendlist .m-scroll-y{
    width: 100%; height:100%;
    position: relative;
    overflow: hidden;
}
.u-firendlist .m-scroll-y ul{
    position: absolute; left:0; top:0; 
}

/* U column */
.u-public-column{
    height: 0.64rem; line-height: 0.64rem;
    padding: 0 0.18rem; font-size: 0.29rem; 
    margin-top: 0.14rem;
    background: #fff;
    border-top: 1px solid #e2e7ed;
    border-bottom: 1px solid #e2e7ed;
}






 