/*!
 * 主页公共样式
 */

/* U update cover */
.u-update-cover{ 
    height: 0.36rem; line-height: 0.36rem;
    padding: 0 0.14rem;
}
    .u-update-cover .bg{
        position: absolute; top: 0; left: 0; 
        width: 100%; height: 100%; 
        background: #c1c0c0;
        filter: alpha(opacity:70); opacity: 0.7;
    }
    .u-update-cover .cont{
        position: relative; z-index: 2;
        font-size: 0.2rem; color: #141823; 
    }
    .u-update-cover .cont::before{
        content: '';
        display: block; width: 0.29rem; height: 0.22rem;
        float: left; margin-top: 0.07rem; margin-right: 0.08rem;
        background: url(../icon/icon-updatepic.png) no-repeat;   
        background-size: 100%;
    }

/* U user headpic */
.u-user-headpic{
    position: absolute; left: 0.18rem; bottom: 0.42rem;
    width: 1.82rem; height: 1.82rem;
    padding: 0.04rem;
    background: #fff;
    border:1px solid #e9e9e9;
    border-radius: 0.02rem;
}
.u-user-headpic img{
    max-width: 100%;
}
.u-user-headpic .u-update-cover{
    position: absolute; left: 0.04rem; bottom: 0.04rem;
    width: 1.82rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

/* M page header */
.m-pageheader{
    position: relative;
    border-bottom: 1px solid #dadada;
    background:#fff;
}
.m-pageheader .cover-pic{
    height: 2.72rem; 
}
.m-pageheader .cover-pic img{
    max-width: 100%;
}
.m-pageheader .cover-pic .u-update-cover{
    position: absolute; left: 0.18rem; top: 0.12rem;
}
.m-pageheader .name{
    height: 1.13rem;
    padding: 0.25rem 0.2rem 0 2.9rem;
    font-size: 0.435rem;
}

/* M photos u */
.m-photos-u .u-photos-list{
    margin-top: 0.18rem;
}

/* U photos list */ 
.u-photos-list .item{  
    width: 2.34rem; height: 2.34rem;
} 

/* U friends list */
.m-friends-u .u-friends-list{ 
    flex-wrap: wrap;
}
.u-friends-list .item{
    width: 2.34rem; margin-top: 0.18rem;
}
.u-friends-list .item .pic{
    width: 100%; height: 2.34rem;
}
.u-friends-list .item .name{
    height: 0.25rem; line-break: 0.25rem; padding: 0.1rem 0;
    font-size: 0.216rem; font-weight: 700;
}

/* 个人简介 */
.m-brief-info{
    background: #fff;
}

/* U brief top bar */
.u-brief-topbar{
    height: 1.14rem;
    /* padding: 0 0.72rem; */
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid #dadada;
    display: flex;
}
.u-brief-topbar .disable{
    cursor: not-allowed;
}
.u-brief-topbar .disable .name{
    color: #b8beca;
}
.u-brief-topbar .item{
    height: 100%; text-align: center;
    display: flex; width: 25%;
    flex-direction: column;
    align-content: center;
}
.u-brief-topbar .item::before{
    display: block;
    content: '';
    width: 0.72rem; height: 0.72rem; 
    margin: 0 auto; 
    background-size: 100%!important;
}
.icon-postmsg::before{
    background: url(../icon/icon-post-def.png) no-repeat;
}
.icon-postmsg.cur::before{
    background: url(../icon/icon-post-cur.png) no-repeat;
}
.icon-writeblog::before{
    background: url(../icon/icon-writeblog-def.png) no-repeat;
}
.icon-writeblog.cur::before{
    background: url(../icon/icon-writeblog-cur.png) no-repeat;
}
.icon-editcard::before{
    background: url(../icon/icon-editcard-def.png) no-repeat;
}
.icon-editcard.cur::before{
    background: url(../icon/icon-editcard-cur.png) no-repeat;
}
.icon-more::before{
    background: url(../icon/icon-more-def.png) no-repeat;
}
.icon-more.cur::before{
    background: url(../icon/icon-more-cur.png) no-repeat;
}

.icon-addfriend::before{
    background: url(../icon/icon-addfriend-def.png) no-repeat;
}
.icon-addfriend.cur::before{
    background: url(../icon/icon-addfriend-cur.png) no-repeat;
}
.icon-addfriend.disable::before{
    background: url(../icon/icon-addfriend-dis.png) no-repeat;
}
.icon-addfriended::before{
    background: url(../icon/icon-addfriended-def.png) no-repeat;
}
.icon-addfriended.cur::before{
    background: url(../icon/icon-addfriended-cur.png) no-repeat;
}
.icon-follow::before{
    background: url(../icon/icon-follow-def.png) no-repeat;
}
.icon-follow.cur::before{
    background: url(../icon/icon-follow-cur.png) no-repeat;
}
.icon-follow.disable::before{
    background: url(../icon/icon-follow-dis.png) no-repeat;
}
.icon-followed::before{
    background: url(../icon/icon-followed-def.png) no-repeat;
}
.icon-followed.cur::before{
    background: url(../icon/icon-followed-cur.png) no-repeat;
}
.icon-chat::before{
    background: url(../icon/icon-chat-def.png) no-repeat;
}
.icon-chat.cur::before{
    background: url(../icon/icon-chat-cur.png) no-repeat;
}

.u-brief-topbar .item .name{
    font-size: 0.217rem;
    width: 100%;
}

/* U brief bottom bar */
.u-brief-bombar{
    height: 0.82rem; line-height: 0.82rem;
    border-top: 1px solid #e9eaed;
    border-bottom: 1px solid #dadada;
    background: #f6f7f8;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    text-align: center;
}
.u-brief-bombar a{
    position: relative;
    display: block;
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-size: 0.254rem; color: #4e5665;
    font-weight: 700;
}
.u-brief-bombar a span{
    position: absolute; top: 50%; right: 0;
    margin-top: -0.18rem;
    width: 1px; height: 0.36rem;
    background: #dcdee3; overflow: hidden
}

/* U brief cont */
.u-brief-cont{
    padding: 0.18rem;
    padding-top: 0; 
}

.u-brief-cont .introduce{
    padding-top: 0.15rem;
    padding-bottom: 0.05rem;
    color: #505766;
    font-size: 0.254rem;
    line-height: 1.5;
    -webkit-line-clamp: 2;  //这里是在第二行有省略号
}

.u-brief-cont .card-list{
    display: flex;
    flex-direction: column;
} 
.u-brief-cont .card-list .item{
    height: 0.46rem;
    display: flex;
    align-items: center;
    padding-left: 0.02rem;
}
.u-brief-cont .card-list .item::before{
    content: '';
    display: block; width: 0.46rem; height: 0.46rem; 
    margin-right: 0.2rem; 
    background-size: 100%!important;
}
.u-brief-cont .work::before{
    background: url(../icon/icon-work.png) no-repeat;
}
.u-brief-cont .edu::before{
    background: url(../icon/icon-edu.png) no-repeat;
}
.u-brief-cont .location::before{
    background: url(../icon/icon-location.png) no-repeat;
}


.u-bannereidt{
    box-sizing: border-box;
    height: 0.5rem;
    margin-top: 0.18rem;
    border:1px solid #507ab9;
    border-radius: 0.06rem; 
    background: #fff;
    font-size: 0.217rem; color: #4267b2; font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.u-bannereidt em{
    display: block; width: 0.22rem; height: 0.22rem;
    margin-right: 0.12rem;
    background-size: 100%!important;
}
.u-bannereidt .icon-pen{ 
    background: url(../icon/icon-bluepen22.png) no-repeat;  
}
.u-bannereidt .icon-jia{
    background: url(../icon/icon-bluejia22.png) no-repeat;
}


























